.watch_ads_page {
  padding: 10px 0;
  width: 100%;
}

/* .watch_ads_page .watch_ad_grid_wrapper {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: repeat(6, 1fr);
  column-gap: 15px;
  row-gap: 15px;
} */
.watch_ads_page .watch_ad_grid_wrapper .grid_item {
  padding: 10px;
  background: #39cd3c;
  border-radius: 5px;
  box-shadow: -3px -3px 5px #eee, 3px 3px 5px #eee;
  border: 3px solid #ffffff;
  text-transform: capitalize;
  position: relative;
  overflow: hidden;
  margin: 5px 0;
}
.watch_ads_page .watch_ad_grid_wrapper .grid_item:nth-child(odd) {
  background: #ff8605;
}
.watch_ads_page .watch_ad_grid_wrapper .grid_item:nth-child(even) {
  background: #39cd3c;
}
/* .grid_item::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  border-bottom-right-radius: 10px;
  background: #fff;
  width: 50px;
  height: 10px;
  z-index: 1;
} */
.watch_ads_page .watch_ad_grid_wrapper .grid_item::before {
  content: "";
  position: absolute;
  bottom: 0;
  right: 0;
  background: #fff;
  border-top-left-radius: 10px;
  width: 50px;
  height: 10px;
  z-index: 1;
}
.watch_ads_page .watch_ad_grid_wrapper .grid_item button {
  width: 100%;
  margin: 5px 0;
  font-size: 12px;
  background: black;
}
.watch_ads_page .watch_ad_grid_wrapper .grid_item button:hover {
  background-color: #333;
}
