.team_management {
  padding: 20px;
  margin-top: 20px;
  background-color: #f6f8fa;
}
.team_management .team_wrapper {
  padding: 1px;
}
.team_management .team_wrapper .team_form,
.team_table {
  padding: 10px;
  background-color: transparent;
  box-shadow: -2px -2px 5px #eee, 2px 2px 5px #eee;
  border: 3px solid #fff;
  border-radius: 5px;
  margin-bottom: 10px;
}
