.product_pin_request_managment {
  padding: 20px;
  margin-top: 20px;
  background-color: #f6f8fa;
}
.product_pin_request_managment .product_pin_request_managment_wrapper {
  padding: 1px;
}
.product_pin_request_managment
  .product_pin_request_managment_wrapper
  .product_pin_request_managment_table {
  padding: 10px;
  background-color: transparent;
  box-shadow: -2px -2px 5px #eee, 2px 2px 5px #eee;
  border: 3px solid #fff;
  border-radius: 5px;
  margin-bottom: 10px;
}
