.seller_dashboard_page {
  padding: 10px 0;
}
.seller_dashboard_product {
  padding: 20px 0;
}
.seller_dashboard_page .product_filters {
  padding: 10px 0;
}
.seller_dashboard_page .seller_dashboard_paginations {
  padding: 10px;
  background-color: #f8f9fa;
  box-shadow: -2px -2px 5px #eee, 2px 2px 5px #eee;
  border: 3px solid #fff;
  display: inline-block;
  border-radius: 30px;
}
.seller_dashboard_page .product_filters .product_filter_wrapper {
  padding: 10px;
  background-color: #f8f9fa;
  box-shadow: -2px -2px 5px #eee, 2px 2px 5px #eee;
  border: 3px solid #fff;
  border-radius: 5px;
  text-transform: capitalize;
  color: #00b718;
}
.seller_dashboard_page
  .product_filters
  .product_filter_wrapper
  .product_filter_form {
  display: grid;
  width: 100%;
  grid-template-columns: auto auto auto auto auto;
  gap: 10px;
}
.seller_dashboard_page
  .product_filters
  .product_filter_wrapper
  .product_short_filter_form {
  display: grid;
  grid-template-columns: auto auto auto;
  gap: 10px;
  margin-top: 20px;
}
/* seller_analytics */
.seller_dashboard_page .seller_analytics {
  padding: 1px;
}
.seller_dashboard_page .seller_analytics .analytics_items {
  padding: 10px;
  background: #f8f9fa;
  text-align: left;
  box-shadow: -2px -2px 5px #eee, 2px 2px 5px #eee;
  border: 2px solid #fff;
  border-radius: 5px;
}
