.teams {
  padding: 60px 0;
  width: 100%;
}

.teams .teams_wrapper {
  padding: 50px;
}

.teams .teams_wrapper .teams_item {
  width: 320px;
  padding: 10px;
  background: #eee;
  box-shadow: -2px -2px 5px #eee, 2px 2px 5px #eee;
  border: 3px solid #fff;
  transition: 0.5s;
  text-align: center;
  border-radius: 5px;
  position: relative;
  z-index: 1;
  overflow: hidden;
}

.teams .teams_wrapper .teams_item::after {
  content: "";
  display: block;
  width: 100%;
  height: 0%;
  background: #eef;
  z-index: -1;
  position: absolute;
  top: 0;
  left: 0;
  transition: 0.5s ease-in-out;
  transform: rotateY(180deg);
  border-radius: 5px;
}

.teams .teams_wrapper .teams_item:hover::after {
  bottom: 0;
  right: 0;
  transform: rotateY(0deg);
  height: 100%;
}
.teams .teams_wrapper .teams_item:hover::after p,
span {
  color: white;
}
/* 
.teams .teams_wrapper .teams_item img {
    width: 150px;
    height:150px;
    border-radius: 100%;
    position: relative;
    border: 5px double #eee;
    background-position: center;
    background-repeat:no-repeat;
    background-size: cover;
    filter: brightness(1.3);
    transition: .5s;
}

.teams .teams_wrapper .teams_item .team_social {
    padding: 10px;

    justify-content: center;
    align-items: center;
    display: flex;
}

.teams .teams_wrapper .teams_item .team_social span {
    margin: 0 5px;
    color: #fff;
    background: #fff;
    padding: 5px;
    border-radius: 5px;
    cursor: pointer;

}

.teams .teams_wrapper .teams_item .team_social span {
    text-decoration: none;
    color: #222;
}

.teams .teams_wrapper .teams_item .team_social span:hover {
    color: dodgerblue;
    background: #fff;
    transition: .2s;
}

.teams .teams_wrapper .teams_item .team_name {
    font-size: 20px;
    text-transform: capitalize;
    font-weight: 500;
    color: #fff;
    margin: 0;
    padding: 0;
}

.teams .teams_wrapper .teams_item .team_designation {
    margin: 0;
    padding: 5px 0;
    text-transform: capitalize;
    color: #fff;
} */
