.blog_cards {
    padding: 4px 0;
}

:root {
    --peragraph_light: azure;
    --peragraph_dark: #111;
    --peragraph_sami_dark: #919191;
    --card_linear_gradient_first: #de09f1;
    --card_linear_gradient_second: #2196f3;
    --card_background: #eee;
    --card_shadow: #eee;
    --card_border: #fff;
}

.blog_cards .blog_card_wrapper {
    padding: 3px 0;
}

.blog_card_wrapper .blog_card_item {
    padding: 10px;
    /* background: #eee; */
    background: var(--card_border);
    box-shadow: -3px -3px 5px var(--card_shadow), 3px 3px 5px var(--card_shadow);
    border: 3px solid var(--card_border);
    border-radius: 5px;
    width: 300px;
    height: auto;
    display: inline-block;
    margin: 0 10px;
    overflow: hidden;
}

.blog_card_wrapper .blog_card_item .blog_post_thumbnail {
    overflow: hidden;
}

.blog_card_wrapper .blog_card_item .blog_post_thumbnail img {
    width: 100%;
    height: 250px;
    border-radius: 5px;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    transition: .5s;
}

.blog_card_wrapper .blog_card_item .blog_post_thumbnail img:hover {
    transform: scale(1.4);
    transition: .5s;
}

.blog_card_wrapper .blog_card_item .blog_post_content {
    padding: 0;
}

.blog_card_wrapper .blog_card_item .blog_post_content .author_info {
    padding: 10px 0;
    display: flex;
    justify-content: space-between;
    gap: 10px;

}

.blog_card_wrapper .blog_card_item .blog_post_content .author_info .author_name {
    padding: 10px 0;
    display: flex;
    gap: 10px;
}

.blog_card_wrapper .blog_card_item .blog_post_content .author_info .blog_post_category {
    padding: 10px;
}

.blog_card_wrapper .blog_card_item .blog_post_content .author_info .blog_post_category span {
    text-transform: capitalize;
    background: #2196f3;
    vertical-align: middle;
}

.blog_card_wrapper .blog_card_item .blog_post_content .author_info img {
    width: 30px;
    height: 30px;
    border-radius: 100%;
    border: 3px solid var(--peragraph_dark);
}

.blog_card_wrapper .blog_card_item .blog_post_content .author_info p {
    text-transform: capitalize;
    font-weight: 400;
    font-size: 14px;
    font-family: cursive;
    color: var(--peragraph_dark);
}

.blog_card_wrapper .blog_card_item .blog_post_content .blog_post_details {
    padding: 0;
    margin: 0;
}

.blog_card_wrapper .blog_card_item .blog_post_content .blog_post_details a {
    text-transform: capitalize;
    font-size: 18px;
    font-family: cursive;
    color: var(--peragraph_dark);
    display: inline-block;
    text-decoration: none;
    padding-bottom: 10px;
}

.blog_card_wrapper .blog_card_item .blog_post_content .blog_post_details a:hover {
    text-decoration: underline;
}

.blog_card_wrapper .blog_card_item .blog_post_content .blog_post_details p {
    text-transform: capitalize;
    color: var(--peragraph_dark);
    font-size: 14px;
    font-family: sans-serif;
}