.smm_panel {
  padding: 7% 0;
}
.smm_panel .smm_wrapper {
  padding: 30px;
  background: #fafafa;
  box-shadow: -2px -2px 5px #efeeee, 2px 2px 5px #efeeee;
  border: 3px solid #fff;
  border-radius: 5px;
}
