.user_settings_page {
  padding: 50px 0;
  width: 100%;
}
.user_settings_page .nav-pills .nav-link.active,
.nav-pills .nav-link {
  color: black;
}
.user_settings_page .nav-pills .nav-link.active,
.nav-pills .nav-link:active {
  background-color: #eee;
}
